body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e5a8;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Certifica-se de que o botão esteja acima de outros elementos */
}

.back-button img {
    width: 350px;
    height: auto;
    transition: transform 0.3s;
}

.back-button:hover img {
    transform: scale(1.1);
}

.pokemon-info {
    display: flex;
    flex-direction: column; /* Alinha o texto abaixo da imagem */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 70px; /* Espaço para o botão de voltar */
}

.pokemon-info img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.pokemon-info img:hover {
    transform: scale(1.1);
}

.pokemon-info p {
    font-size: 18px;
    text-align: center; /* Centraliza o texto */
}
